<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Contas no Azul</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-back-button></ion-back-button>
  <h1>Contas a Pagar</h1>
  <ion-searchbar placeholder="Buscar"></ion-searchbar>
  <ion-fab routerLink="/nova-conta-pagar" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list lines="full" *ngIf="(contas$ | async) as contas">
    <ion-item *ngFor="let conta of contas">
      <ion-icon color="success" name="cash" slot="start"></ion-icon>
      <ion-label>{{ conta.descricao }} - R$ {{ conta.valor }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>