<ion-header>
  <ion-toolbar>
    <ion-title>Contas no Azul</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1>Contas a Receber</h1>
  <ion-searchbar placeholder="Buscar"></ion-searchbar>
  <ion-list *ngIf="(contas$ | async) as contas">
    <ng-container *ngIf="contas.length > 0; else noContas">
      <app-item-conta *ngFor="let conta of contas" [conta]="conta" (update)="onUpdate($event)"
        (delete)="onDelete($event)"></app-item-conta>
    </ng-container>
    <ng-template #noContas>
      <ion-item lines="none">Nenhuma conta cadastrada!</ion-item>
    </ng-template>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/nova-conta-receber" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>