ion-toolbar{
    --background: #062f77;
    --color: #fff;
}
img{
    width: 150px;
    height: auto;
    margin: auto;
    display: block;
}
ion-avatar{
    width: auto;
    height: auto;
}
ion-grid{
    text-align: center;
    width: auto;
    margin-right: 5px;
}
ion-button{
    --background: #062f77;
}